.nested-fields
  .row
    .col-md-1.nudge-down
      %span.pull-right
        - if f.object.persisted? && f.object.is_active
          %span.label.label-success Live
        - elsif f.object.persisted? && !f.object.is_active
          %span.label.label-warning Pending
        - else
          %span.label.label-danger New
    .col-md-2.no-pad= f.input :name, wrapper: false, label: false, input_html: { class: 'input-sm' }, placeholder: 'Optional Name'
    .col-md-5.no-pad= f.input :mission_url, wrapper: false, label: false, input_html: { class: 'input-sm' }, placeholder: 'https://www.ingress.com/mission/00000000000000000000000000000000.1c'
    .col-md-2.no-pad= f.input :mission_series_name, wrapper: false, label: false, input_html: { class: 'input-sm' }
    .col-md-1.no-pad= f.input :series_index, wrapper: false, label: false, input_html: { class: 'input-sm' }
    .col-md-1.pad-left
      - if f.object.persisted?
        = f.input :_destroy, as: :boolean, wrapper: false, label: false, inline_label: 'Delete?'
      - else
        = link_to_remove_association f, class: 'remove-mission btn btn-danger btn-block btn-sm' do
          .glyphicon.glyphicon-remove
  - if f.object.persisted? && !f.object.is_active && can?(:approve, @community)
    .row
      .col-md-12
        = f.input :intel_json, wrapper: false, label: false, as: :text, input_html: { class: 'input-sm' }
