
#container
  #navbar-container
    #navbar
      %span{ class: 'pull-right' }
        - if current_user.present?
          = link_to 'Contributor Backend', admin_url(subdomain: 'admin'), class: 'navbar-link'
          = link_to "Sign out #{current_user.email}", destroy_user_session_url(subdomain: nil), class: 'navbar-link'
        - else
          = link_to 'Sign In', user_omniauth_authorize_url(subdomain: nil, provider: 'google_oauth2'), class: 'navbar-link'
      %a.navbar-link{ href: '#', data: { ajax: 'content', content_id: 1 }} Home
      %a.navbar-link{ href: '#', data: { ajax: 'communities' }} All Communities
      %a.navbar-link{ href: '#', data: { ajax: 'missions' }} All Missions
      %a.navbar-link{ href: '#', data: { ajax: 'mission-series-collection' }} Mission Series
  #map-container
    #map
  #sidebar-container
    #sidebar
#spinner-container
  #spinner
    = image_tag 'ajax_loader.gif'


= javascript_include_tag 'ingress'
%script{src: "//maps.googleapis.com/maps/api/js?key=AIzaSyAE7CVgjwE9GJoWWjc7f3dcLTjBJVBWvVU&callback=MapLoader&signed_in=false"}
