<h2>{{name}}</h2>
<ul>
  {{#each missions}}
    <li>
      {{#if user}}
        {{#if user.completed}}
          <span class="glyphicon glyphicon-check" data-check-mission-id="{{id}}" alt="Track which missions you've completed."/>
        {{else}}
          <span class="glyphicon glyphicon-unchecked" data-check-mission-id="{{id}}" alt="Track which missions you've completed."/>
        {{/if}}
      {{/if}}

      <a href="#" data-ajax="mission" data-mission-id="{{id}}">
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>
<p>
  <a href="#" data-ajax="mission-series-collection"> Back to mission series list</a>
</p>
