<h2>{{name}}</h2>
<ul>
  <li>
    <i>By {{agent.name}}</i>
    [<a href="{{mission_url}}" alt="Intel Link" title="Intel Link" target="_blank">Intel Link</a>]
  </li>
  {{#if mission_series_id}}
    <li>
      #{{series_index}} in series:
      <b>{{mission_series.name}}</b>
    </li>
  {{/if}}
  <li class="divider">&nbsp; </li>
  <li>
    {{mission_points.length}} Portals
  </li>
  <li>
    {{#each mission_points}}
      <img src="{{action_icon}}" title="{{t 'ingress/mission_point.action_type' action_type}}" alt="{{t 'ingress/mission_point.action_type' action_type}}" />
    {{/each}}
  </li>

  <li class="divider"> &nbsp;</li>
  <li>{{t 'ingress/mission.sequence_type' sequence_type}}</li>
  <li>{{t 'ingress/mission.series_type' series_type}}</li>
</ul>
{{#if mission_series_id}}
  <p>
    <a href="#" data-ajax="mission-series" data-mission-series-id="{{mission_series_id}}"> Back to {{mission_series.name}}</a>
  </p>
{{/if}}
<p>
  <a href="#" data-ajax="missions"> Back to missions</a>
</p>
