<h2> Missions </h2>
<ul>
  <li>
    <a href="#" data-ajax="mission-series-collection"> View All Mission Series</a>
  </li>
  <li class="divider">&nbsp;</li>
  {{#each this}}
    <li>
      {{#if user}}
        {{#if user.completed}}
          <span class="glyphicon glyphicon-check" data-check-mission-id="{{id}}" alt="Track which missions you've completed."/>
        {{else}}
          <span class="glyphicon glyphicon-unchecked" data-check-mission-id="{{id}}" alt="Track which missions you've completed."/>
        {{/if}}
      {{/if}}

      <a href="#" data-ajax="mission" data-mission-id="{{id}}">
        <span class="pin" />
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>
