
.text-center.lead
  Welcome to LD29_GAME
.text-center
  This game was created in Ludum Dare 29 using theme 'Under the Surface'. Ludum Dare is a game development competition where participants have 48 hours to make a game from scratch.


.hero-unit
  .text-center.game-area

%style{type: 'text/css'}
  = render 'style.css'

%script
  = render 'game_controller.js'
  = render 'game_model.js'
  = render 'game_view.js' 

  = render 'game_block.js'
  = render 'game_block_type.js'
  = render 'game_block_types.js'
  = render 'game_inventory.js' 
  = render 'game_item.js' 
  = render 'game_key_listener.js' 
  = render 'game_player.js'
  = render 'game_stockpile.js'
  = render 'game_unit.js' 
  = render 'game_world.js'

  = render 'constants.js'
  = render 'game.js' 
  = render 'debug.js' if Rails.env.development?