!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: 'Octoreso Data Admin Backend', name: 'description'}/
    %meta{content: '@tobypinder', name: 'author'}/
    %link{href: 'favicon.ico', rel: 'shortcut icon'}/
    %title Octoreso Admin
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body
    #wrapper
      #sidebar-wrapper
        .sidebar-nav
          %li.sidebar-brand Octoreso Admin
          %li{ class: "#{controller_name == 'communities' ? 'active' : ''}", role: :presentation }
            %a{ href: admin_ingress_communities_path }
              %span.glyphicon.glyphicon-map-marker
              Communities
      #page-content-wrapper
        .container-fluid
          = yield
