!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}/
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}/
    %meta{content: '', name: 'description'}/
    %meta{content: '', name: 'author'}/
    %link{href: 'favicon.ico', rel: 'shortcut icon'}/
    %title TobyPinder.com
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: url_for(root_path)} TobyPinder.com
        .navbar-collapse.collapse 
          %ul.nav.navbar-nav 
            
            %li= link_to 'LD27 - Astronomical Odds', ld27_index_path
            %li= link_to 'LD27 + Experiment', ld27_test_index_path
            %li= link_to 'LD29', ld29_index_path
            %li= link_to 'Music Monday', category_path(1)
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "Hello #{current_user.name}", root_path
              %li= link_to 'Administrate', rails_admin_path if can? :access, :rails_admin
              %li= link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li= link_to (image_tag '/steam/sits_small.png'), user_omniauth_authorize_path(:steam)
              %li= link_to 'or use a guest account', new_guest_path  
        / /.navbar-collapse
    - flash.each do |type, message| 
      .container
        %div{class:"alert #{bootstrap_class_for(type)}"}
          %button.close{'data-dismiss'=>"alert"}
            ×
          = message
    = yield
    %hr/
    %footer
    .container
      .row
        .col-md-12
          %p © Toby Pinder 2014. Work In Progress.
